<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>ScorePredict-主页</title>
  </head>
  <body>

    <!--顶部导航栏-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ScorePredict</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html\">首页<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    </nav>



    <div class="row">
        <!--个人信息-->
        <div class="col-3">
          <p>&nbsp;</p>
          <div class="jumbotron jumbotron-fluid" style="background-color: rgba(192,192,192,0.1)">
            <div class="container">
              <img src="{{ portrait }}" class="rounded mx-auto d-block" alt="..." style="width: 100px;height: 100px;float: left">
              <br><p>&nbsp;</p><p>&nbsp;</p>
              <h1 class="display-6">欢迎，{{ user.username }}</h1>
              <p class="lead"><strong>姓名:</strong> {{ user.name }}</p>
              <p class="lead"><strong>专业:</strong> {{ user.major }}</p>
              <p class="lead"><strong>个性签名:</strong> {{ user.status }}</p>
            </div>
          </div>
          <p>&nbsp;</p><br>
        </div>
        <div class="col-9">
          <div class="jumbotron jumbotron-fluid" style="background-color: rgba(192,192,192,0.1)">
            <div class="container">
                <p>&nbsp;</p>
              <div class="row">
                  <div class="col-3"></div>
                <div class="col-3">
                  <p>&nbsp;</p><a href="#"  style="color:black;text-decoration:none;">
                  <div class="card-group">
                    <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                      <img src="{% static "icon/score_predict_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                      <div class="card-body">
                        <h5 class="card-title">成绩预测</h5>
                        <button type="button" class="btn btn-default">你有几科比较凉</button>
                      </div>
                    </div>
                  </div></a>

                <p>&nbsp;</p><a href="#"  style="color:black;text-decoration:none;">
                <div class="card-group">
                  <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                    <img src="{% static "icon/dependency_analyse_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                    <div class="card-body">
                      <h5 class="card-title">相关性分析</h5>
                        <button type="button" class="btn btn-default">你以为会不凉？？</button>
                    </div>
                  </div>
                </div></a>
                </div>

                <div class="col-3">
                  <p>&nbsp;</p><a href="#"  style="color:black;text-decoration:none;">
                  <div class="card-group">
                    <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                      <img src="{% static "icon/course_key_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                      <div class="card-body">
                        <h5 class="card-title">课程重点</h5>
                          <button type="button" class="btn btn-default">按照这个复习就不凉了</button>
                      </div>
                    </div>
                  </div></a>

                  <p>&nbsp;</p><a href="/score/"  style="color:black;text-decoration:none;">
                  <div class="card-group">
                    <div class="card" align="middle" style="background-color: rgba(0,0,0,0);border: none">
                      <img src="{% static "icon/course_socre_icon.png" %}" class="card-img-top" alt="..." style="width: 100px;height: 100px">
                      <div class="card-body">
                        <h5 class="card-title">所修课程成绩</h5>
                        <button type="button" class="btn btn-default">已经凉了呀</button>
                      </div>
                    </div>
                  </div></a>

                </div><div class="col-3"></div>

            </div>
          </div>
        </div>

    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>