{#login/templates/login/login.html#}
{% load staticfiles %}
{% block css %}<link href="{% static 'login.css' %}" rel="stylesheet"/>{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>登录</title>
</head>
<body>
    <!--顶部导航栏-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ScorePredict</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">登 录</button>
  </div>
</nav>

    <!--点击导航栏的 登录弹出的模态框-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Welcome to ScorePredict</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class='form-login' action="/login/" method="post">

                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            {{ login_form.stu_no.label_tag }}
                            {{ login_form.stu_no }}
                        </div>
                        <div class="form-group">
                            {{ login_form.password.label_tag }}
                            {{ login_form.password }}
                        </div>

                        <div class="form-group row">
                            {{ login_form.captcha.label_tag }}
                            {{ login_form.captcha }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">登 录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--主页面-->
    <div class="container">
        <div class="header"></div>
        <div class="row">
            <div class="col-sm-8">
                <h2>Built for</h2>
                <h2>students</h2>
                <p>ScorePredict is a website inspired by student's needs.</p>
                <p>Students can predict their course score and get some advice on review in this website.</p>
                <p>It's a way to change your future.</p>
            </div>
            <div class="col-sm-4">
                <form class='form-login' action="/login/" method="post">
                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class="text-center">欢迎登录</h2>
                    <div class="form-group">
                        {{ login_form.stu_no.label_tag }}
                        {{ login_form.stu_no }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>

                    <div class="form-group row">
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">登 录</button>
                    <small id="emailHelp" class="form-text text-muted">我们保证您的隐私将不会外泄</small>
                </form>
            </div>
        </div>
    </div>
<!--Bootstrap依赖-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
